// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$font-stack: 'Inter', sans-serif;
$primary-color: #333;
$background-color: rgb(255, 255, 255);

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $background-color;
}

.headerlogo {
    width: 80%;
    margin: auto;
    display: block;
}

.headertext1 {
    font-family: 'Fredericka the Great';
    font-size: 50px;
    text-align: center;
}

.headertext2 {
    font-family: 'Fredericka the Great';
    font-size: 20px;
    text-align: center;
}

.emmalink {
    text-decoration: none;
    color: #D31E29;
}

.winelink {
    text-decoration: none;
    color: #D31E29;
}

.sparklingwinelink {
    text-decoration: none;
    color: #D1C55A;
}

.spiritslink {
    text-decoration: none;
    color: #C27418;
}

.footerlinks {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited {
color: none;
}

a:hover {
color: rgb(0, 0, 0);
}

a:active {
color: rgb(255, 255, 255);
}

.headerabove {
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerbelow {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: center;
}

.headerabovecontent1 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #D31E29;
}

.headerabovecontent2 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #D1C55A;
}

.headerabovecontent3 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #C27418;
}

.winefont {
    color: #D31E29;
}

.sparklingwinefont {
    color: #D1C55A;
}

.spiritsfont {
    color: #C27418;
}

.searchfields {
    padding-top: 30px;
}

.formlabelcolor {
    color: grey;
}

.searchResultline1 {
    padding-top: 20px;
    margin-bottom: 10px;
}

.searchResultline2 {
    font-size: 13px;
    color: gray;
    padding-top: 0px;
    padding-bottom: 5px;
}

.searchResultline3 {
    font-size: 18px;
    color: #D31E29;

}

.stars {
    width: 100px;
    padding-bottom: 30px;
}

.searchResults {
    padding-top: 40px;
}

.footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Fredericka the Great';
    font-size: medium;
    text-align: center;
}

/* Anfang CSS Nina */

.eStory {
    color: #D31E29;
}

//.storyb {
//   color: #D31E29;
//}

.productPage {
    padding-top: 50px;
}

/* Ende CSS Nina */